body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	 line-height: 1.7;
	 color: #4795BA;

}

h1{
	color: #0F7683;
}
.banner{
	background-color: #00ADFF;
	height: 4.5em;
}
label{
	display: block;
	margin-top:1.5em;
	font-weight: bold;


}

.maincontent{
  margin-left: 2em;
	
	
    
}

input[type="text"], input[type="email"]{
  width: 15em;
  padding: .4em;
  background-color: #eee;
  border-top: none;
  border-left: none;


}
 
input[type="submit"]{
	background-color:#0F7683;
	border: none;
	color: #fff;
	font-size: 1.2em;
	height: 1.7em;
	border-radius: .2em;
	margin:  .5em 0 .5em 0;
}

footer{
	background-color: #00ADFF;
	width: 100%;
	height: 1.5em;
	text-align: center;
}

input:focus{
	outline: solid #5955ff;
}

select{
	padding: 1rem;
}

@media(min-width: 540px){
    .maincontent{
		width: 80%;
		margin:auto;
		
	}

	.group-input{
		
		width: 25%;
	}


	
	.flex label{
		display: inline-block;
	}
}